

.HomePage-Background{
    background-image:url('./assets/images/bkg.jpg');
    background-Size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}
.foot-text{
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    margin-top: 60vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.abt-container{
   background-color: indigo;

}
.content-cont{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.abt-title{
    text-align: center;
    font-size: 35px;
    color: lightblue ;
    
}
.abt-text{
    width: 400px;
    height: 100vh;
    line-height: 40px; 
    margin-top: 250px;
    color:lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border-radius: 20%;
}
.Login-container{
    background-color: indigo;
    height: 100vh;
}

.Experience-cont{
     background-color: indigo;
     color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}
.Experience-cont h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Experience-Categories {
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    text-align: center;
    margin-top: 20px;
}
.wellness h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.vip-party h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fitness h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.culture h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Hotels-Background{
    background-image:url('./assets/images/relaxation.jpg');
    background-Size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
@import 'tailwindcss'



